$bg-color:(
    main: #0A1120,
    second: #FF6600,
    alternative: #1C2C48
);
$font-c:(
    main: white,
    second: #FF6600,
    alternative: #91A9D3
);

$font-s:(
    xl: 32pt,
    l: 18pt,
    m: 12pt,
    s: 8pt,
);
$font-w:(
    xl: bolder,
    l: bold,
    m: light,
    s: thin,
);
$btn-c:(
    cv: rgb(117, 117, 241),
    blog: rgb(86, 86, 243),
    pyme: #FF6600
);