

@media screen and (max-width: 576px) {
    .imglink, .imglink1{
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .imglink, .imglink1{
        display: none;
    }
}
@media screen and (max-width: 980px) {
    .imglink, .imglink1{
        display: none;
    }
}